body,
html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProseMirror {
  padding: 16px;
  border-radius: 12px;
  border: solid #6252de 1px;
  outline: none;
  max-height: 450px;
  overflow: auto;
  flex-grow: 1;
  gap: 8px;
  width: 800px;

  /* Below lines mean BODY1 typography is applied */
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Inter";
  font-size: 16px;
}

.ProseMirror blockquote {
  border-left: solid rgb(82, 68, 68) 2px;
  padding-left: 8px;
  font-style: italic;
}

.ProseMirror code {
  background-color: black;
  padding: 6px;
  border: solid 1px #213f61;
  border-radius: 2px;
  font-size: 12px;
  color: #f4faff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.remirror-file-root {
  border-radius: 4px;
  padding: 16px;
  background-color: gray;
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  column-gap: 8px;
}

.remirror-editor h1 {
  font-weight: 700;
  line-height: 132px;
  letter-spacing: -1.5px;
  font-family: "Inter";
  font-size: 96px;
}
.remirror-editor h2 {
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -1px;
  font-family: "Inter";
  font-size: 60px;
}
.remirror-editor h3 {
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.5px;
  font-family: "Inter";
  font-size: 48px;
}
h4 {
}
h5 {
}
h6 {
}
